body{
    padding: 0;
    margin:0;
}
a{
    text-decoration:none;

}
a img{border:0;}
li {
    list-style: none;
}
.header{
    width: 100%;
    height: 80px;
    background: #1e1e1e;
}
.center{
    width: 66.66%;
    height: 80px;
    margin: 0 auto;
}
.logo{
    margin: 0 auto;
    float: left;
}
.logo img{
    padding-top: 15px;
}
.loginbar{
    width: 150px;
    height: 80px;
    float: right;
}
.loginbar span{
    width: 120px;
    height: 40px;
    display: block;
    padding: 30px 0 0 10px;
    font-size: 18px;
    font-family: "Adobe 黑体 Std ";
    color: #fefefe;
}
.loginbar span a{
    color: #fefefe;
}


/*
开始banner样式*/


.flexslider {
	position: relative;
	width: 100%;
	height: 460px;
	overflow: hidden;
	zoom: 1;
}
.flexslider .slides{
    width: 100%;
    height: 460px;
    margin: 0;
    padding: 0;
}
/*.flexslider .slides li img{
   width: 100%;
}*/
.flex-direction-nav li a{
	width: 50px;
	height: 65px;
	line-height: 99em;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}
.flex-prev {
	margin: -35px 0 0 20px;
	background: url(../images/banner-left01.png) ;
}
.flex-next{
	margin: -35px 20px 0 0;
	background: url(../images/banner-right02.png);
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0;
}

.flex-direction-nav .flex-prev {
	left: 0;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	background: url(../images/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}


/*content开始*/

.content{
    height: 1090px;
    width: 1027px;
    margin: 0 auto;
    position: relative;   
}
/*//按钮部分*/
.content-button li a{
	width: 17px;
	height: 30px;
	line-height: 99em;
	overflow: hidden;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;

}
.left {
	margin: -9px 0 0 -33px;
	background: url(../images/left.png) ;
}
.right{
	margin: -9px 0 0 958px;
	background: url(../images/right.png);
}


/*内容第一部分*/
.content-wrap{
    width: 1030px;
    height: 250px;
    margin-top: 10px;
    position: relative;
}

.content1{
    width: 1027px;
    height: 230px;
    overflow: hidden;
	zoom: 1;
}
.column{
      font-size: 18px;
    margin-left: 40px;
}
.content3{
    width: 1027px;
    height: 255px;
    position: absolute;
    top:540px;
    overflow: hidden;
	zoom: 1;
}
.content-new{
    width: 1027px;
    height: 225px;  
}
.content-new1{/**/
    width:950px;
        height: 210px;
    margin-left: 40px;
    margin-top: 20px;
    float: left;
  
}
.course{
    width: 950px;
    height: 210px;
    margin-top:10px; 
}
.course-large{
    width: 370px;
    float: left;
}
.course-small{
    width: 570px;
    height: 210px;
    float: left;
}
.course-small ul{
    width: 570px;
    height: 210px;
    padding: 0;
    margin: 0;
}
.course-small ul li{
    float: left;
    padding:0 0 6px 9px;
}


/*内容第二部分*/


.content2{
    width: 1027px;
    height: 225px;
    margin-top: 10px;
   
}
.course2-large{
   width: 569px;
    height: 210px;
     float: left;
}
.span2{
    position: absolute;
    left: 20
}
.pic{
    position: relative;
    width: 370px;
    height: 210px;
    float: left;
}
.course2-large img{
    float: left;
    z-index: 1;
}
.pic-top{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 300px;
    color: aliceblue;
}
.pic-top span{
    font-size: 30px;
}
.pic-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
      z-index: 2;
    background: black;
    opacity: 0.5;
    width: 370px;
    color: #ffffff;
}
.pic-bottom span{
    padding-left: 10px;
     width: 100px;
    float: left;
    font-size: 15px; 
}
.pic p{
    height: 10px;
    width: 100px;
    margin: 0;
    float: right;
    font-size: 15px;
    
}
.msg{
    width: 185px;
    height: 200px;
    margin: 15px 0 0 0;
    float: right;
}
.msg p{
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    height: 104px;
    
}
.course2-right{
    width: 376px;
    height: 210px;
    float: right;
}
.course2-right ul {
    width: 376px;
    height: 210px;
    padding: 0;
    margin: 0;
}
.course2-right ul li{
  float: left;
  padding: 0 7px 10px 0px;
    position: relative;
    z-index: 1;
    height: 99px;
    }
.img-top{
    position: absolute;
    top:0px;  
}
.img-top span{
    font-size: 30px;
    color: #ffffff;
}
.img-bott{
    position: absolute;
    left: 0;
    bottom: 8px;
    z-index: 2;
    width: 180px;
    background: black;
    opacity: 0.5;
    color: aliceblue;
    font-size: 12px;
}
.course2-right ul li div p{
 width: 50px;
    float: right;
    margin: 0;
    padding: 0;
}
.course2-right ul li div  span{
    padding-left: 5px;
}




/*开始第四部分*/
.content-wrap4{
     width: 1030px;
    height: 250px;
    margin-top: 10px;
}
.content4{
    width: 1027px;
    height: 210px;
    position: absolute;
    top:805px;
    left: 0;
}
.content4-new{
     width: 970px;
    height: 210px;
    margin: 0 auto;
}
.content4-new ul{
      width: 970px;
    height: 210px;
}
.content4-new ul li{
    float: left;
   padding: 7px;
  
}


/*开始脚部*/
   .footer_min{
    padding:50px 0 60px 0;
    text-align: center;
       border-top:1px solid #dddddd;
    }
    .footer_min div{
    margin:0 auto;
    padding:10px 0;
    }
    .footer_min span {
    color: #999999;
    bottom:3px;
    position: relative;
    }
    .footer_min a{
    font-size:12px;
    color: #999999;
    font-family:SimSun;
    }


