body{
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    
}
img{ border:none}
*{
	 margin: 0;
    padding: 0;
}
li{
	list-style:none;
}
a{
    color: #1f7da9;
    text-decoration: none;
}
.wrap{
    width:1000px;
    margin: 0 auto;
    overflow: hidden;
}
 /*播放器和其内容样式开始*/

.vdieo-course{
    height: 557px;
}
.small-nav {
    width: 280px;
    margin: 25px 0 0 0;
    font-size: 12px;
    
}
.small-nav a{
    color: rgb(153, 153, 153);
}
.course-nav{
    color: black;
    font-size: 20px;
    margin: 20px 0 0 0;
}
.player{
    width: 1000px;
    height: 430px;
    margin: 20px 0 0 0;
   
}
.player-top{
    width: 770px;
    height: 430px;
    background: #ffffff;
    position: relative;
    float: left;
}
.play{
    width: 755px;
    height: 417px;
    position: absolute;
    top: 7px;
    left: 7px;
}
.play-right{
    width: 220px;
    height: 430px;
    float: left;
    position: relative;
    background: #efefef;
}
.play-column{
    width: 200px;
    height:345px;
    margin: 15px 10px;
    overflow:auto;
}
.play-column:-webkit-scrollbar-button{
    background-color:#FF7677;
}

.player-video{
    width: 160px;
    height: 600px;
}
.player-video ul{
    padding: 0;
    margin-left: 10px;
}
.player-video li{
    height: 95px;
    width: 152px;
    margin: 12px 5px;
    list-style: none;
  
}
.player-video ul div{
    position: relative;
}
.player-video  em{
   border-width: 8px;
    border-color: transparent #0066cc transparent  transparent ;
        border-style: dashed dashed  solid  dashed ;
    position: absolute;
       left: -11px;
    top: 40px;
}



/*滚动条样式*/
.play-column::-webkit-scrollbar
        {
            width: 8px;
            height: 10px;
            background-color: #cecece;
        }
.play-column::-webkit-scrollbar-track
        {
            border-radius: 10px;
            background-color: #B5B0B0;
        }
.play-column::-webkit-scrollbar-thumb
        {
            border-radius: 66px;
            background-color: #8A8686;
            height:30px;
        }



/*遮罩层*/
.mask{
    opacity: 0.1;
    position:absolute; 
    background:#FFFFFF;
    filter:alpha(opacity=10); 
  /*  display:none; */
    z-index:998; 
    left: 0;
     display:none;
}
.box{
    position:absolute;
    width: 450px;
    height: 200px;
    background: #666666;
    z-index: 999;
    top:0;
    left: 40%;
     padding:20px;
     display:none;
    border:1px solid black;
}
#closed{
    float: right;
}


/*课程介绍 导师部分*/

.course-content{
	  background-color: #ffffff;
}
.sidebarleft{
	width:760px;
	background-color: #ffffff;
    float:left;
	border: 1px solid #cccccc;
}
.teacher{
    height:220px;
    width: 730px;
   margin: 0px 10px;
    color: rgb(153, 153, 153);
    font-size: 12px;
  
     
}
.teacher-title{
    width: 710px;
    padding: 12px;
    border-bottom: 2px solid #0066cc;
    display: block;
    color: #0066cc;
    font-size: 20px;
        font-family: "Microsoft YaHei";
}
.teacher-content{
    width: 223px;
    height: 130px;
    margin: 8px 5px;
    position: relative;
    border-right: 1px dashed #ccc; 
     float: left;
    
   
}
.teacher-content img{
    width: 88px;
    height: 85px;
    border: 1px solid black;
    margin: 3px;
}
.teacher-content  p{
    font-size: 12px;
    margin-top: 12px;
     margin-left:3px;
}
.pic-right{
    position: absolute;
    top:8px;
    left: 105px;
}
.pic-right div{
    width: 110px;
    padding: 5px 0px;
   font-size: 12px;
   
}
.course-right{
    width: 490px;
    height: 130px;
    float: right;
    margin-top: 7px;
}
.big-title{
    color: black;
    font-size: 18px;
}
.course-right p{
    padding: 3px;0px;
}
.course-right p span{
    color: #9bc5d9;
}


/*栏目分列*/

.classify{
    padding:7px 9px 18px 9px;
	position:relative;
}
.classifys{
	overflow:hidden;
	border-bottom:2px solid #0066cc;
}
.classifys li {
    height:43px;
    line-height:43px;
    font-size:20px;
    font-family:"Microsoft YaHei";
    padding-left:5px;
	padding-right:45px;
	display:block;
}
.classifys li img{
  padding-left: 5px;

  
}
.classifys  p{
    text-align: right;
    position: absolute;
    right: 8px;
    bottom: 32px;
        color: rgb(153, 153, 153);
    }
.classifys li{
	float:left;
}

.classify div{
	position:absolute;
}
.div1{
	top:51px;
    left:40px;
}
.em1{
	border-style:solid dashed dashed dashed;
	border-color:#0066cc transparent transparent transparent;
	border-width:13px;
	width:0;
	height:0;
	position:absolute;
}
.div2{
	top:50px;
	left:42px;
}
.em2{
	border-style:solid dashed dashed dashed;
	border-color:#ffffff transparent transparent transparent;
	border-width:11px;
	width:0;
	height:0;
	position:absolute;
}
.div3{
    top:51px;
    left:182px;
}
.div4{
    top:50px;
    left:184px;
}
.div5{
    top:51px;
    left:305px;
}
.div6{
    top:50px;
    left:307px;
}
.div3,.div4,.div5,.div6{
    display: none;
}



/*讨论样式*/

 .discuss{
    padding:5px 10px 32px 10px;
}
.discuss .publish_idea{
    padding:5px 5px 15px 5px;
}
.publish_idea{
    padding:15px 8px 15px 8px;
    overflow: hidden;
}
.publish_idea form{
    overflow: hidden;
}
.publish_idea form div{
    float: left;
    width:50px;
    height:50px;
}
.textbox{
    float: left;
    position: relative;
}
.publish_idea form textarea{
    width:654px;
    height:69px;
    margin-left:15px;
    background-color: #faf9f4;
    border-color: #d3d3d3;
}
.publish_idea .sub_idea{
    float: right;
    padding-top:10px;
  
}
.span1,.span2{
    position: absolute;
}
.publish_idea .span1{
    top:15px;
    right:666px;
}
.publish_idea .span2{
    top:16px;
    right:663px;
}
.span1 em{
    position: absolute;
    border-style:dashed solid dashed dashed;
    border-color:transparent #d3d3d3 transparent transparent;
    border-width:5px;
    width:0;
    height:0;
}
.span2 em{
    position: absolute;
    border-style:dashed solid dashed dashed;
    border-color:transparent #faf9f4 transparent transparent;
    border-width:4px;
    width:0;
    height:0;
}

.publish_idea2{
    padding:5px 5px 15px 5px;
    overflow: hidden;
    display: none;
}
.publish_idea2 form div { 
    float: left;
    width:50px;
    height:50px;
}
.publish_idea2 form textarea{
    width:640px;
    height:69px;
    margin-left:15px;
    background-color: #faf9f4;
    border-color: #d3d3d3;
}
.publish_idea2 .sub_idea{
    float: right;
    padding-top:10px;
}
.publish_idea2 .span1{
    top:15px;
    right:651px;
}
.publish_idea2 .span2{
    top:16px;
    right:649px;
}

.discuss_show{
    padding:5px 8px;
    font-size:12px;
}
.discuss_show .discuss_group{
    float: left;
    width:111px;
    height:25px;
    border:1px solid #d1d0d0;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:5px;
}
.discuss_group span{
    font-family:"SimSun";
    width:55px;
    height:25px;
    line-height:25px;
    text-align: center;
    float: left;
}
.discuss_group .group1{
    background-color: #e5e4e4;
    color: #0066cc;
    border-right:1px solid #d1d0d0;
}
.discuss_group .group2{
    color: #666666;
    background-color: #dadada;
}
.totalpage{
    float: left;
    padding-left:195px;
    color: #666666;
}
.turn_page{
    float: right;
    color: #666666;
}

.discuss_list{
    padding:20px 8px 17px 8px;
}
.under_line{
	border-bottom:1px solid #cccccc;
	padding-bottom:20px;
}
.discuss_list .member_pic1{
    float: left;
}
.discuss_list .member{
    float: right;
    width:650px;
    padding:0 5px 15px 15px;
    font-size:12px;
}
.member .member_top1{
    width:166px;
    line-height:25px;
}
.member_name{
    float: left;
    color: #1f7da9;
}
.sub_time{
    float: right;
    color: #999999;
}
.member .problem{
    line-height:22px;
    word-wrap: break-word;
    word-break: break-all;
}
.reply{
    font-size:12px;
    font-family:"SimSun";
    border-style:none solid solid solid;
    border-width:1px;
    border-color:#d3d3d3;

    background-color:#faf9f4;
}
.span3,.span4{
    position: absolute;
}
.span3{
    left:40px;
    bottom:12px;
}
.span4{
    left:41px;
    bottom:10px;
}
.span3 em{
    position: absolute;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #d3d3d3 transparent;
    border-width:6px;
    width:0;
    height:0;
}
.span4 em{
    position: absolute;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #faf9f4 transparent;
    border-width:5px;
    width:0;
    height:0;
}
.reply .more{
    padding:2px 5px;
    overflow: hidden;
}
.reply_member{
    float: right;
	font-size:12px;
    color: #1f7da9;
}
.hidden_reply{
    float: right;
	font-size:12px;
	width:78px;
	height:30px;
    color: #1f7da9;
}
.hidden_reply{
	border-style:solid solid none solid;
	border-width:1px;
	border-color: #d3d3d3;
	line-height: 30px;
	text-align: center;
}
.reply_border{
	width:640px;
	border-top:1px solid #d3d3d3;
    position: relative;
}
.member_infor{
	padding:10px 5px;
	
}
.dashed_line{
	border-bottom:1px dashed #d3d3d3;
    padding-bottom:8px;
}
.reply .member_pic2{
    float: left;
}
.member2{
    float: right;
    width:640px;
}
.member2 .member_top2{
    width:166px;
    line-height:25px;
}
.member2 .member_reply{
    line-height:20px;
    color: #666666;
}
.morereply{
    float: left;
    color: #666666;
}
.myreply{
    float: right;
    color: #666666;
}






/*问题样式*/


.backf8f8f8 {
    background: #f8f8f8;
}
.Knowledgetitle {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
    margin-left: 10px;
}
.fragenummer {
    display: inline-block;
    height: 40px;
    width: 36px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #0066cc;
}
.small-title li {
    width:100px; 
    padding-right: 40px;
    float: left;
    font-size: 12px;

}
.text-centent{
    width: 720px;
    height: 125px;
    border-bottom: 1px dashed #ccc;
}
.ans-button{
    padding-bottom: 10px;
}
.ans-button span{
    background: #ccc;
    padding: 5px 15px;
    font-size: 15px;
    border: 1px solid black;
        border-radius: 2px;
    cursor:pointer;
}
.ans_content{
    height: 200px;
}
.ans_content ul li{
    float: left;
    padding: 5px 30px;
    height: 19px;
   
    
}

.emblem {
    display: inline-block;
    height: 18px;
    width: 49px;
    background: url(../images/emblem.png) no-repeat;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding-left: 3px;
    margin-top: 10px;
    float: right;
}
.question-content{
    margin-left: 20px;
}

/*右侧边*/
.sidebarright{
    width:227px;
    float: right;

}

.sidebar1{
    border:1px solid #cccccc;
}
.mycourse{
    padding:7px 9px 3px 9px;
}
.mycourse p{
    height:43px;
    line-height:43px;
    font-size:20px;
    font-family:"Microsoft YaHei";
    border-bottom:2px solid #0066cc;
}
.coursechapter1{
    padding:2px 8px 15px 26px;
}
.chapter{
    padding:13px 12px 17px 1px;
}
.chapter p{
    font-size:18px;
    font-family:"SimSun";
    font-weight:bold;
    line-height:30px;
    white-space:normal;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}
.chapter a{
    width:25px;
    height:25px;
    display: block;
    float: left;
    padding-top:15px;
    padding-bottom:1px;
}
.chapter span{
    display: block;
    float: left;
    width:6px;
    height:25px;
    line-height:25px;
    padding:15px 10px 1px 10px;
}
.boxshadow {
    height: 4px;
}

.boxshadow_l {
    width:100px;
    height:4px;
    float: left;
    background: url(../images/bg_box_footer.png) no-repeat 0 0;
}
.boxshadow_r {
    width:100px;
    float: right;
    background: url(../images/bg_box_footer.png) no-repeat right -4px;
    height: 4px;
}

.sidebar2{
    margin-top:35px;
    border:1px solid #cccccc;
}
.coursechapter2{
    padding:5px 4px 10px 4px;
}
.peoplelist li{
    float: left;
   padding:10px 11px;
}
.peoplelist li p{
    font-size:12px;
    font-family:"SimSun";
    text-align: center;
}

.sidebar3{
    margin-top:35px;
    border:1px solid #cccccc;
}
.coursechapter3{
    padding:5px 4px 10px 4px;
}
.coursechapter3 .sector{
    overflow: hidden;
    padding:10px 8px;
}
.sector .sector_icon{
    float: left;
}
.sector div{
    padding-left:20px;
    float: left;
}
.addin{
    width: 59px;
    height:24px;
    display: block;
    line-height:24px;
    background-color: #f99d19;
    border:1px solid #dc6718;
    border-radius:2px;
    font-weight: bold;
    color: aliceblue;
}
.sector .sector_name{
    font-size:14px;
    line-height:14px;
}
.sector .sector_num{
    font-size:12px;
    line-height:30px;
}
.sector .addin .add1{
    float: left;
    font-size: 20px;
    font-weight:bold;
    padding:0 4px 0 10px;
}
.sector .addin .add2{
    float: left;
    font-size: 12px;
    font-weight:bold;
}

/*右侧边颜色*/
.mycourse p{
    color: #0066cc;
}
.chapter p{
    color:#333333;
}
.sidebar1,.sidebar2,.sidebar3{
    background-color: #ffffff;
}
.peoplelist li p{
    color: #1f7da9;
}
.sector .addin{
    color: #fffef1;
}